.split-panels {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.split-panels--horizontal {
  flex-flow: column nowrap;
}

.split-panels_resizer {
  width: 2px;
  height: 100%;
  background-color: black;
  cursor: col-resize;
}

.split-panels_resizer--horizontal {
  width: 100%;
  height: 2px;
  cursor: row-resize;
}

.split-panels__panel {
  height: 100%;
  width: 100%;
}
