.explorer {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  display: grid;
  grid-template-rows: 20px calc(100% - 40px) 20px;
}

.explorer__footer {
  border-top: 1px solid black;
}

.explorer__header {
  border-bottom: 1px solid black;
}
