.select-palette {
  background-color: var(--palette-background-color);
  color: var(--palette-text-color);
  margin: 0 80px;
  margin-top: 20px;
  padding: 10px;
}

.select-palette__header {
  --space-size: 5px;
  border-bottom: 2px solid var(--palette-additional-color);
  padding-bottom: var(--space-size);
  margin-bottom: var(--space-size);
}

.select-palette__search {
  width: 100%;
  outline: none;
}

.select-palette__item {
  cursor: pointer;
}

.select-palette__item:hover {
  background-color: var(--palette-hover-color);
}

.select-palette__item--selected {
  background-color: var(--palette-selected-color);
}
