.detail-view {
  width: 100%;
  height: 100%;
  text-align: left;
  --detail-view-row-height: 1.5rem;
  padding: 0 0.5rem;
  display: grid;
  grid-template-rows: var(--detail-view-row-height) calc(100% - var(--detail-view-row-height));
  grid-template-columns: 100%;
}

.detail-view__header,
.detail-view__body {
  display: flex;
  flex-flow: column nowrap;
}

.detail-view__header {
  font-weight: bold;
}

.detail-view__row {
  width: 100%;
  height: var(--detail-view-row-height);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 20% 30%;
  align-items: center;
  cursor: pointer;
}

.detail-view__body {
  overflow: auto;
}

.detail-view__body::-webkit-scrollbar {
  width: 0;
}

.detail-view__body .detail-view__row:hover {
  background-color: cornflowerblue;
}

.detail-view__row--selected {
  background-color: var(--additional-background-color);
}

.detail-view__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.detail-view__item > img {
  height: calc(var(--detail-view-row-height) - 10%);
  margin-right: 10px;
}

.detail-view__item + .detail-view__item {
  border-left: 1px solid black;
}
